
h1 {text-align: left;}
h1 {margin-left: 250px}
h2 {margin-left: 250px}
h2 {text-align: left;}
.top {
	margin-top:-20px;
}
.upper{
	
}
h2 {
	margin-top: 50px;
}
p {text-align: left;}
p {
	margin: 10px 250px;
}
div {text-align: left;}
